<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ordenes</title>
</head>
<body>
  <h1>Tus órdenes</h1>
  {{#if orders.length}}
    <ul>
      {{#each orders}}
        <li>
          Orden ID: {{this._id}}
          <ul>
            Productos:
            {{#each this.items}}
              <li>{{this.product.name}} - Cantidad: {{this.quantity}}</li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No tienes órdenes aún.</p>
  {{/if}}
</body>
</html>