{{#extends 'layouts/main'}}
{{#content 'body'}}
    <h1>Productos</h1>
    <ul>
        {{#each products}}
        <li>
            <a href="/product/{{this._id}}">{{this.nombre}}</a>
            <p>Precio: {{this.precio}}</p>
        </li>
        {{/each}}
    </ul>
{{/content}}